.offers{
    padding: 120px 0 30px 0;
    background: #1a1814;
}
.offers .offers-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .offers .offers-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    color: #fff;
  }
  
  .offers .offers-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #cda45e;
    margin-bottom: 10px;
  }
  
  .offers .offers-item h5 {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .offers .offers-item ul {
    padding-left: 20px;
    
  }
  
  .offers .offers-item ul li {
    padding-bottom: 10px;
    color: #fff;
    list-style-type: circle;
    
  }
  
  .offers .offers-item:last-child {
    padding-bottom: 0;
  }
  
  .offers .offers-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #edbc58;
    border: 2px solid #cda45e;
  }
  